* {
    margin: 0;
    padding: 0;
}

.su-header {
    display: inline;
    font-size: 4rem;
    text-align: center;
    margin: auto;
    font-weight: bolder;
    color: #006199;
}

.mt-5 {
    margin-top: 5px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #33B4FF;
    background-size: 64px 128px;
}

.logo {
    max-width: 30rem;
}

.row {
    margin: 2em;
    padding: 1em;
    display: grid;
    height: 100%;
    background: rgb(195, 192, 236);
    background: linear-gradient(90deg, #86CEFA 0%, rgba(226, 237, 238, 1) 75%, rgba(255, 255, 255, 1) 100%);
    box-shadow: 5px 5px 20px darkslategray;
}

.button {
    height: 2.5em;
    border-radius: 5px;
    border: 1px solid #006199;
    cursor: pointer;
    background-color: snow;
    font-weight: bold;
    color: darkslategray;
    font-size: medium;
    padding: 0 1rem;
}

.long-button {
    width: 100%;
}

.delete-button {
    background: rgba(255, 20, 20, 0.755);
}

.button:hover  {
    background-color: #006199;
    color: snow;
}

.form-input {
    width: 100%;
    margin-bottom: 5px;
}

textarea {
    resize: none !important;
}

.form-input,
.dashboard-textarea-fn,
.textarea-after-select {
    background-color: rgb(235, 238, 241);
    border-color: darkslategray;
    border-radius: 5px;
    box-sizing: border-box;
    font: 1em sans-serif;
}

.form-input:focus,
.dashboard-textarea-fn:focus,
.textarea-after-select:focus,
.dashboard-action:focus,
.boolean-select-after-select:focus {
    outline: none;
}

.form-input:active,
.dashboard-textarea-fn:active,
.textarea-after-select:active,
.dashboard-action:active,
.boolean-select-after-select:active {
    outline: none;
}

#textarea-emails {
    width: 100%;
    height: 8em;
}

#message {
    height: 20em !important;
    width: 100%;
}

#message-bar-modal-edit-users {
    display: none;
    font-size: 1.2em;
    border-radius: 10px;
    font-family: monospace;
    padding: 10px;
    width: 85%;
    text-align: center;
}

#message-bar-edit-users {
    display: none;
}

.dashboard {
    margin-top: 1.25%;
    margin-bottom: 1.25%;
    display: flex;
    align-items: start;
    gap: 1%;
}

.dashboard-textarea-fn,
.textarea-after-select {
    width: 25em;
    height: 5em;
}

#diploma_order_form {
    margin-top: 1.25%;
}

.dashboard-action,
.boolean-select-after-select,
.diploma_order_select,
.file-extension-picker-short,
.file-extension-picker-long {
    text-indent: 3px;
    height: 2.5em;
    width: 10%;
    font: 1em sans-serif;
    color: darkslategray;
    background-color: snow;
    border-radius: 5px;
}

.file-extension-picker-long {
    width: 50%;
}

.file-extension-picker-short {
    width: 20%;
}

.boolean-select-after-select {
    display: none;
}

.textarea-after-select {
    display: none;
}

#editStudentTextarea {
    margin-top: 1.25%;
}

h2,
.logout_header_link {
    text-transform: capitalize;
    text-decoration: none;
    color: darkslategray;
}

.navigation {
    padding: 5px;
    background: rgba(247, 241, 241, 0.3);
    margin: 1em 0.5em;
}

.vertical_line {
    display: inline;
    border-left: 2px solid darkslategray;
    height: 2em;
    margin: 0 1em;
}

.active_header {
    color: snow;
}

.navigation_element {
    display: inline;
    cursor: pointer;
    font-size: 1.35rem;
}

.navigation_element:hover,
.logout_header_link:hover {
    color: white;
}

.message-bar {
    text-indent: 10px;
    font-size: 1.2em;
    border-radius: 10px;
    font-family: monospace;
    padding: 0.5rem 0;
}

.error {
    background: rgba(255, 20, 20, 0.755);
}

.success {
    background: rgba(128, 214, 132, 0.3);
}

.info {
    background: #5cc3ff;
}

table {
    box-shadow: 2px 2px 20px #006199;
    margin-bottom: 2em;
    margin-top: 1em;
    max-height: 50vh;
    width: 100%;
    border-collapse: collapse;
    display: block;
    overflow: auto;
    white-space: nowrap;
    border-radius: 5px;
}

table tbody {
    display: table;
    width: 100%;
}

table td {
    border: 0.5px solid slategray;
    padding: 0 0.2em;
}

.users-table>tbody>tr :nth-child(4) {
    /* role */
    text-align: center;
    width: 8%;
}

#students-table>tbody>tr :nth-child(5),
#students-table>tbody>tr :nth-child(6),
#students-table>tbody>tr :nth-child(7),
#students-table>tbody>tr :nth-child(8),
#students-table>tbody>tr :nth-child(9), 
#edit-users-table>tbody>tr :nth-child(5) {
    text-align: center;
}

.diploma-table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

.diploma_take_columns {
    background-color: rgb(216, 216, 216) !important;
}

table tr {
    height: 1.7em;
}

tr:hover {
    background: #006199 !important;
    color: snow;
}

tr:hover .comment-icon {
    color: snow;
}

tr:hover .user-role-icon {
    color: snow;
}

table tr:nth-child(1) {
    position: sticky;
    top: -1;
    background: #006199 !important;
    color: snow;
}

table tr:nth-child(even) {
    background-color: rgba(47, 79, 79, 0.096)
}

.user-role-icon {
    width: 1em;
    color: darkslategray;
}

.comment-icon {
    color: darkslategray;
}

.comment-icon:hover {
    color: snow;
    cursor: pointer;
}

.comment-icon:hover {
    position: relative
}

.comment-icon span {
    display: none;
}

.comment-icon:hover span {
    background-color: snow;
    display: block;
    z-index: 100;
    left: 0px;
    margin: -40px;

    position: absolute;
    top: 10px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    font-weight: lighter;
    color: darkslategray;
    border: 1px solid darkslategray;
    border-radius: 5px;
}



::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #006199;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #005282;
}

.diploma_order_section,
.excellent_order,
.distribute_moderators {
    display: none;
}

.excellent_order {
    min-height: 8.5em;
}

h3 {
    margin-top: 0 !important;
    margin-bottom: 1.25%;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    min-height: 22px;
    background: rgba(247, 241, 241, 0.603);
    text-transform: uppercase;
    text-decoration: none;
    color: #2f4f4f;
}

h4 {
    margin: 0 !important;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    background: rgba(247, 241, 241, 0.603);
    text-decoration: none;
    color: #2f4f4f;
    display: flex;
    justify-content: center;
}


#export_files_users, #export_files_student {
    margin-top: 1.25%;
    display: flex;
    align-items: flex-start;
    gap: 1%;
}

#export_files {
    border-radius: 5px;
    width: 100%;
    background-color: rgba(247, 241, 241, 0.603);
}


.analytics {
    margin: 2em 3.5em;
    border-radius: 5px;
}

body #analytic_section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

svg {
    border-radius: 5px;
    border: 1px solid grey;
}

.search {
    height: 2.5rem;
    min-width: 20%;
    background-color: rgb(235, 238, 241);
    border-radius: 5px;
    text-indent: 3px;
    box-sizing: border-box;
    font: 1em sans-serif;
}

#export-graduated,
#export-att-graduated {
    width: 20rem;
}

#header-table-diploma,
#header-table-attendance,
#header-table-students,
#header-table-users,
#header-table-edit {
    cursor: pointer;
}

.filters {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}

#diploma-table>tbody>tr :nth-child(3),
#diploma-table>tbody>tr :nth-child(4),
#diploma-table>tbody>tr :nth-child(5),
#diploma-table>tbody>tr :nth-child(6),
#diploma-table>tbody>tr :nth-child(7),
#diploma-table>tbody>tr :nth-child(8),
#diploma-table>tbody>tr :nth-child(10),
#diploma-table>tbody>tr :nth-child(11),
#diploma-table>tbody>tr :nth-child(12),
#diploma-table>tbody>tr :nth-child(13),
#diploma-table>tbody>tr :nth-child(14),
#diploma-table>tbody>tr :nth-child(15),
#diploma-table>tbody>tr :nth-child(16),
#diploma-table>tbody>tr :nth-child(17),
#diploma-table>tbody>tr :nth-child(18),
#diploma-table>tbody>tr :nth-child(19),
#diploma-table>tbody>tr :nth-child(21),
#diploma-table>tbody>tr :nth-child(22),
#diploma-table>tbody>tr :nth-child(23),
#diploma-table>tbody>tr :nth-child(24),
#diploma-table>tbody>tr :nth-child(25),
#diploma-table>tbody>tr :nth-child(27),
#diploma-table>tbody>tr :nth-child(28),
#diploma-table>tbody>tr :nth-child(29),
#attendance-table>tbody>tr :nth-child(3),
#attendance-table>tbody>tr :nth-child(4),
#attendance-table>tbody>tr :nth-child(5),
#attendance-table>tbody>tr :nth-child(6),
#attendance-table>tbody>tr :nth-child(7),
#attendance-table>tbody>tr :nth-child(8),
#attendance-table>tbody>tr :nth-child(9),
#attendance-table>tbody>tr :nth-child(10),
#attendance-table>tbody>tr :nth-child(11),
#attendance-table>tbody>tr :nth-child(13),
#attendance-table>tbody>tr :nth-child(14),
#attendance-table>tbody>tr :nth-child(15),
#attendance-table>tbody>tr :nth-child(16),
#attendance-table>tbody>tr :nth-child(17),
#attendance-table>tbody>tr :nth-child(18),
#attendance-table>tbody>tr :nth-child(19),
#attendance-table>tbody>tr :nth-child(20),
#attendance-table>tbody>tr :nth-child(21),
#attendance-table>tbody>tr :nth-child(22),
#attendance-table>tbody>tr :nth-child(24),
#attendance-table>tbody>tr :nth-child(25),
#attendance-table>tbody>tr :nth-child(26),
#attendance-table>tbody>tr :nth-child(27),
#attendance-table>tbody>tr :nth-child(28),
#attendance-table>tbody>tr :nth-child(30),
#attendance-table>tbody>tr :nth-child(31),
#attendance-table>tbody>tr :nth-child(32) {
    text-align: center;
}

#export_excellent, #export_graduated, #export_att_graduated {
    display: flex;
    column-gap: 1rem;
    margin-bottom: 1rem;
}

.dashboard-excellent {
    height: 2.5em;
    font: 1em sans-serif;
    color: darkslategray;
    background-color: snow;
    border-radius: 5px;
    text-indent: 3px;
}

#fileUsers,
#fileStudent {
    display: none;
}

.custom-file-upload {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 15%;
    text-align: center;
    min-height: 2.5em;
    border-radius: 5px;
    border: 1px solid darkslategray;
    cursor: pointer;
    background-color: snow;
    color: darkslategray;
    font-size: medium;
}

.custom-file-upload:hover,
#export-excellent:hover,
.add-grad-info:hover {
    background-color: #006199;
    color: snow;
}


.custom-file-upload::before {
    content: "";
}

.import_files {
    display: flex;
    gap: 1%;
    margin-top: 1em;
}

#file-name1,
#file-name2 {
    text-indent: 0.5em;
    margin: 1em 0;
}

#message-bar-export-excellent {
    padding: 9px;
    margin-top: 0;
    margin-bottom: 1;
    font-size: 1.2em;
    border-radius: 10px;
    font-family: monospace;
}

#message-bar-diploma-order {
    margin-top: 1%;
}

#textarea {
    display: grid;
}

textarea {
    padding-top: 3px;
    padding-left: 3px;
}

#textarea-emails, #message {
    margin-bottom: 1.25%;
}

.settings {
    height: 70%;
    width: 19%;
    background-color: rgb(235, 238, 241);
    border: 1px solid darkslategray;
    border-radius: 5px;
    padding: 1rem;
    box-sizing: border-box;
    cursor: pointer;
}

.input {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#deadline > input{
    width: 32% !important;
}

#info-graduation-table1 > tbody,
#info-graduation-table2 > tbody {
    display: inline-table;
    width: 100%;
}

.add-grad-info {
    width: 100% !important;
    background-color: snow;
    font-weight: bold;
    color: darkslategray;
}

#for_buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.received_messages {
    width: 100%;
    height: auto;
    border-radius: 5px;
    text-indent: 0.5em;
    border: 1px solid #006199;
    background: rgba(247, 241, 241, 0.603);
    color: darkslategray;
    font-size: medium;
}

#edit_selected_user_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 88%;
    padding-top: 30px;
    row-gap: 1.5rem;    
}

#edit_selected_user_form > input {
    width: 350px;
    height: 3.2em;
    margin-top: 0;

}

#edit-user-button-section {
    margin-top: 15px;
    width: 80%;
    display: flex;
    justify-content: center;
    column-gap: 30px;
}

@media screen and (max-width: 900px) {
    .filters {
        display: block;
    }

    #export_excellent,
    #export_graduated,
    #diploma_order_form, 
    #export_att_graduated, 
    #export_files_users,
    #export_files_student,
    .import_files,
    #for_buttons {
        flex-direction: column;
    }

    #for_buttons {
        gap: 5px;
    }

    .dashboard {
        display: block;
    }

    .search,
    .file-extension-picker-long, 
    .file-extension-picker-short, 
    .button, .long-button, 
    #dashboard_action, 
    #dashboard_textarea,
    .diploma_order_select,
    .custom-file-upload,
    #export-att-graduated,
    #export-graduated {
        width: 100%;
        margin-bottom: 1%;
    }

    #textarea-emails {
        padding-bottom: 65%;
    }

}