
.users-table td:nth-child(1) {
    /* id */
    width: 5%;
}

.users-table td:nth-child(2) {
    /* 3 names */
    width: 50%;
}

.users-table td:nth-child(3) {
    /* email */
    width: 30%;
}

.users-table td:nth-child(4) {
    /* phone */
    width: 20%;
}

.users-table td:nth-child(5) {
    /* role */
    text-align: center;
    width: 8%;
}



/*Edit-students-table css-style start*/

.edit-students-table td:nth-child(1){
    
    width:5%;
}

.edit-students-table td:nth-child(2){
    
    width:50%;
}
.edit-students-table td:nth-child(3){
    
    width:25%;
}
.edit-students-table td:nth-child(4){
    
    width:20%;
}
.edit-students-table td:nth-child(5){
    
    width:20%;
}





/*Edit-students-table css-style end*/
.students-table td:nth-child(1) {
    /* id */
    width: 5%;
}

.students-table td:nth-child(2) {
    /* 3 names */
    width: 40%;
}

.students-table td:nth-child(3) {
    /* email */
    width: 20%;
}

.students-table td:nth-child(4) {
    /* phone */
    width: 15%;
}

.students-table td:nth-child(5) {
    /* fn */
    /* text-align: center; */
    width: 15%;
}

.students-table td:nth-child(6) {
    /* degree */
    text-align: center;
    width: 5%;
}

.students-table td:nth-child(7) {
    /* major */
    text-align: center;
    width: 5%;
}

.students-table td:nth-child(8) {
    /* group */
    text-align: center;
    width: 5%;
}

.students-table td:nth-child(9) {
    /* role */
    text-align: center;
    width: 5%;
}



.diploma-table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

.diploma-table td:nth-child(1) {
    /* fn */
    min-width: 2em;
}

.diploma-table td:nth-child(2) {
    /* fn */
    min-width: 7em;
}

.diploma-table td:nth-child(3) {
    /* names */
    min-width: 20em;
    width: 100%;
}

/*.diploma-table td:nth-child(6), td:nth-child(10), td:nth-child(16), td:nth-child(19), td:nth-child(24) {
    border-right: 2px solid slategrey;
}*/


/* .diploma-table td:nth-child(10) {
     max-width: 10em; 
} */

.diploma_take_columns {
    background-color: rgb(216, 216, 216)!important;
}


.responsibilities_table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

.responsibilities_table tbody {
    display: table;
    width: 100%;
}

