* {
    margin: 0;
    padding: 0;
	box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

body {
	background: #5fc4ff;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100%;
}

h1 {
	font-weight: bold;
	margin: 0;
}

img {
    width: 30%;
}

button {
    width: 60%;
	border-radius: 20px;
	border: 1px solid #33B4FF;
	background-color: #33B4FF;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 5px;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: center;
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

.container {
    margin: 2em;
    padding: 3em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
	min-height: 80%;
    width: 45%;
    background: rgb(195,192,236);
    background: linear-gradient(90deg, #86CEFA 0%, rgba(226,237,238,1) 75%, rgba(255,255,255,1) 100%);
    box-shadow: 5px 5px 20px darkslategray;
}

.header_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center
}

.graduation_info_section {
    width: 65%;
    text-align: center;    
	font-size: 1.5rem;

}

@media screen and (max-width: 900px) {
	.graduation_info_section {
		width: 80%;
		text-align: center;   
		font-size: 1.4rem;

	}

	.container {
		width: 90%;
	}
}