body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:#33B4FF;
    background-size: 64px 128px;
}

.su-header {
    display: inline;
    font-size: 4rem;
    text-align: center;
    margin: auto;
    font-weight: bolder;
    color: #006199;
}

.row {
    margin: 2em;
    padding: 1em;
    display: grid;
    height: 100%;
    background: rgb(195,192,236);
    background: linear-gradient(90deg, #86CEFA 0%, rgba(226,237,238,1) 75%, rgba(255,255,255,1) 100%);
    box-shadow: 5px 5px 20px darkslategray;
}

h2, .logout_header_link {
    text-transform: capitalize;
    text-decoration: none;
    color: darkslategray;
}

.navigation {
    padding: 5px;
    background: rgba(247, 241, 241, 0.3);
    margin: 1em 0;
}

.vertical_line {
    display: inline;
    border-left: 2px solid darkslategray;
    height: 2em;
    margin: 0 1em;
}

.active_header {
    color: snow;
}

.navigation_element {
    display: inline;
    cursor: pointer;
}

.navigation_element:hover, .logout_header_link:hover {
    color: white;
}

.message-bar {
    padding: 10px;
    margin-bottom: 1em;
    font-size: 1.2em;
    border-radius: 10px;
    font-family: monospace;
}

#message-bar-update-responsibilities {
    display: none;
}

.error {
    background: rgba(255, 20, 20, 0.755);
}

.success {
    background: rgba(128, 214, 132, 0.3);
}

.info {
    background: #5cc3ff;
}

table {
    /*border: 0.5px solid slategray;*/
    box-shadow: 2px 2px 20px #006199;
    margin-bottom: 2em;
    max-height: 50vh;
    width: 100%;
    border-collapse: collapse;
    display: block; 
    overflow: auto;
    white-space: nowrap;
    border-radius: 5px;
}  

table tbody {
    display: table;
    width: 100%;
}

table td {
    border: 0.5px solid slategray;
    padding: 0 0.2em;
}


.users-table td:nth-child(4) {
    /* role */
    text-align: center;
    width: 8%;
}


/*students-table css-style end*/
#students-table>tbody>tr :nth-child(5),
#students-table>tbody>tr :nth-child(6),
#students-table>tbody>tr :nth-child(7),
#students-table>tbody>tr :nth-child(8),
#students-table>tbody>tr :nth-child(9) {
    text-align: center;
}

.diploma-table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

#diploma-table>tbody>tr :nth-child(3),
#diploma-table>tbody>tr :nth-child(4),
#diploma-table>tbody>tr :nth-child(5),
#diploma-table>tbody>tr :nth-child(6),
#diploma-table>tbody>tr :nth-child(7),
#diploma-table>tbody>tr :nth-child(8),
#diploma-table>tbody>tr :nth-child(9),
#diploma-table>tbody>tr :nth-child(10),
#diploma-table>tbody>tr :nth-child(11),
#diploma-table>tbody>tr :nth-child(13),
#diploma-table>tbody>tr :nth-child(14),
#diploma-table>tbody>tr :nth-child(15),
#diploma-table>tbody>tr :nth-child(16),
#diploma-table>tbody>tr :nth-child(17),
#diploma-table>tbody>tr :nth-child(18),
#diploma-table>tbody>tr :nth-child(19),
#diploma-table>tbody>tr :nth-child(20),
#diploma-table>tbody>tr :nth-child(21),
#diploma-table>tbody>tr :nth-child(22),
#diploma-table>tbody>tr :nth-child(24),
#diploma-table>tbody>tr :nth-child(25),
#diploma-table>tbody>tr :nth-child(26),
#diploma-table>tbody>tr :nth-child(27),
#diploma-table>tbody>tr :nth-child(28),
#diploma-table>tbody>tr :nth-child(30),
#diploma-table>tbody>tr :nth-child(31),
#diploma-table>tbody>tr :nth-child(32) {
    text-align: center;
}

.diploma_take_columns {
    background-color: rgb(216, 216, 216)!important;
}


.responsibilities_table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

.responsibilities_table tbody {
    display: table;
    width: 100%;
}

#responsibilities_table>tbody>tr :nth-child(5),
#responsibilities_table>tbody>tr :nth-child(6),
#responsibilities_table>tbody>tr :nth-child(7),
#responsibilities_table>tbody>tr :nth-child(8),
#responsibilities_table>tbody>tr :nth-child(9),
#responsibilities_table>tbody>tr :nth-child(10),
#responsibilities_table>tbody>tr :nth-child(11) {
    text-align: center;
}


#responsibilities_table2>tbody>tr :nth-child(5),
#responsibilities_table2>tbody>tr :nth-child(6),
#responsibilities_table2>tbody>tr :nth-child(7),
#responsibilities_table2>tbody>tr :nth-child(8),
#responsibilities_table2>tbody>tr :nth-child(9) {
    text-align: center;
}

#header-table-diploma,
#header-table-students,
#header-table-users,
#header_responsibilities_table,
#header_responsibilities_table2 {
    cursor: pointer;
}

table tr {
    height: 1.7em;
}

tr:hover {
    background: #006199!important;
    color: snow;
}

tr:hover .comment-icon {
    color: snow;
}

tr:hover .user-role-icon {
    color: snow;
}

table tr:nth-child(1) {
    position: sticky;
    top: -1;
    background: #006199!important;
    color: snow;
}

table tr:nth-child(even) {
    background-color:rgba(47, 79, 79, 0.096)
}

.user-role-icon {
    /* background-color: darkslategray; */
    width: 1em;
    color: darkslategray;
}

.comment-icon {
    color: darkslategray;
}

.comment-icon:hover {
    color: snow;
    cursor: pointer;
}

.comment-icon:hover {
    position: relative
}
.comment-icon span {
    display: none;
}
.comment-icon:hover span {
    background-color: snow;
    padding: 5px;
    display: block;
    z-index: 100;
    left: 0px;
    margin: -40px;
    position: absolute;
    top: 10px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    font-weight: lighter;
    color: darkslategray;
    border: 1px solid darkslategray;
    border-radius: 5px;
}

.delete-button {
    height: 1.5em;
    border: 0.5px solid grey;
    cursor: pointer;
    background-color: snow;
    color: darkslategray;
}

.delete-button:hover {
    background-color: darkslategray;
    color: snow;
}

::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #006199;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #005282; 
  }

.diploma_order_section {
    display: none;
}

h3 {
    margin-top: 0!important;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    background: rgba(247, 241, 241, 0.603);
    text-transform:uppercase;
    text-decoration: none;
    color: #2f4f4f;
}


/* Newly added*/

#analytic_section{
    height: 100%;
    padding-bottom: 10%;
}

.analytics{
    margin-top:5rem;
    margin-left:7rem;
    margin-right:7rem;
    border-radius:5px;
}

body #analytic_section{
    display:flex ;
    flex-wrap:wrap;
    justify-content:space-evenly;
}

svg{
    border-radius:5px;
    border:1px solid grey;
}

.filters {
    display: flex;
    align-items: baseline;
}

.filters input{
    width: 10rem;
   
    margin-bottom: 1rem;
    height: 2rem;
}
#searchByFn{
    width:12rem !important;
}

#search-responsibilities, #search-diploma {
    margin-top: 2rem;
    height: 2.5rem;
    background-color: rgb(235, 238, 241);
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
    font: 1em sans-serif;
}

.dashboard-action,
.boolean-select-after-select {
    margin-top: 1em;
    height: 2.5em;
    font: 1em sans-serif;
    color: darkslategray;
    background-color: snow;
    border-radius: 5px;
}


.submit-action {
    height: 2.5em;
    border-radius: 5px;
    border: 1px solid darkslategray;
    padding: 0 1em;
    margin-left: 1em;
    cursor: pointer;
    background-color: snow;
    font-weight: bold;
    color: darkslategray;
    font-size: 1vw;
}

#export_files_moderator_responsibilities {
    display: flex;
    align-items: end;
    justify-content: center;
    column-gap: 10px;
    width: 30%;
}

textarea {
    resize: none !important;
}

#textarea-fn {
    width: 100%;
}

#message {
    height: 20em !important;
    width: 100%;
}

#textarea {
    display: grid;
}

#textarea-emails {
    width: 100%;
    height: 8em;
}

.long-submit-button,
.submit-button-users {
    margin-top: 1em;
    height: 2.5em;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #006199;
    cursor: pointer;
    background-color: snow;
    font-weight: bold;
    color: darkslategray;
    font-size: medium;
}

.long-submit-button:hover,
.submit-button-users:hover  {
    background-color: #006199;
    color: snow;
}

.form-input,
.dashboard-textarea-fn,
.textarea-after-select {
    background-color: rgb(235, 238, 241);
    border-color: darkslategray;
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
    font: 1em sans-serif;
}

.form-input:focus,
.dashboard-textarea-fn:focus,
.textarea-after-select:focus,
.dashboard-action:focus,
.boolean-select-after-select:focus {
    outline: none;
}

.form-input:active,
.dashboard-textarea-fn:active,
.textarea-after-select:active,
.dashboard-action:active,
.boolean-select-after-select:active {
    outline: none;
}

.dashboard-textarea-fn {
    width: 25em;
    height: 5em;
    /* margin: 1em; */
    margin-top: 1em;
}

.disabled-button, .disabled-button:hover  {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
    cursor: auto;
}

.form-input {
    width: 100%;
}
