body {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(33, 54, 54);
    background-color: #33B4FF;
    background-size: 64px 128px;
    font-size: 1em;
}

.su-header {
    display: inline;
    font-size: 4rem;
    text-align: center;
    margin: auto;
    font-weight: bolder;
    color: #006199;
    font-family: Arial, Helvetica, sans-serif !important;
}

.row {
    margin: 2em;
    padding: 1em;
    display: grid;
    background: rgb(195, 192, 236);
    background: linear-gradient(90deg, #86CEFA 0%, rgba(226, 237, 238, 1) 75%, rgba(255, 255, 255, 1) 100%);
    box-shadow: 5px 5px 20px darkslategray;
}

h2,
h3,
.logout_header_link {
    text-transform: uppercase;
    text-decoration: none;
    color: #2f4f4f;
}

h3 {
    margin-top: 0 !important;
    padding: 5px;
    border-radius: 5px;
    background: rgba(247, 241, 241, 0.603);
    /* border-bottom:  1px solid rgba(47, 79, 79, 0.603); */
}

.navigation {
    padding: 5px;
    background: rgba(247, 241, 241, 0.3);
    margin: 1em 0;
}

.vertical_line {
    display: inline;
    border-left: 2px solid darkslategray;
    height: 2em;
    margin: 0 1em;
}

.active_header {
    color: snow;
}

.navigation_element {
    display: inline;
}

#logout_header {
    display: inline;
    cursor: pointer;
}

#logout_header:hover {
    color: white;
}

input[type=checkbox] {
    width: 1.3em;
    height: 1.3em;
    cursor: pointer;
    color: #006199 !important;
}

.profile_info_section,
.diploma_info_section,
.notifications_section,
.non_graduating_warning_section,
.graduation_info_section,
.request_diploma_in_advance_section,
.request_gown_hat_section,
.diploma_order_section,
.messages_send_section {
    box-shadow: 5px 5px 20px darkslategray;
    border-radius: 5px;
    padding: 1em;
    margin: 1em 0;
}

.profile_info_section_content,
.diploma_info_section_content,
.request_diploma_in_advance_content,
.request_gown_hat_content {
    display: flex;
}

#profile_info_section_content_1_wrapper,
#diploma_info_section_content_1_wrapper,
#request_gown_hat_content_1_wrapper {

    padding-left: 1em;
    border-left: 1px solid rgba(47, 79, 79, 0.603);
}

#profile_info_section_content_2_wrapper,
#diploma_info_section_content_2_wrapper,
#diploma_info_section_content_3_wrapper,
#diploma_info_section_content_4_wrapper,
#request_gown_hat_content_2_wrapper {
    margin-left: 3em;
    padding-left: 1em;
    border-left: 1px solid rgba(47, 79, 79, 0.603);
}

textarea {
    resize: none !important;
    border-radius: 5px;
    border: 1px solid darkslategray;
    padding: 5px;
    font: 1em sans-serif;
}

.diploma_comment {
    width: 30em;
    height: 8em;
    background-color: snow;
}

.speech_request_section {
    border-bottom: 1px solid rgba(47, 79, 79, 0.603);
    justify-content: space-between;
    margin-bottom: 1em;
    border-top: 1px solid rgba(47, 79, 79, 0.603);
}

#speech_request_section {
    display: none;
}

#speech_request_select{
    margin-top: 0.3em;
}

.speech_request_select,
.gown_request_select,
.hat_request_select {
    width: 200px;
    height: 2.5em;
    font: 1em sans-serif;
    color: darkslategray;
    background-color: snow;
    border-radius: 5px;
    margin-right: 1em;
}

.speech_request_select:focus,
.speech_request_select:active,
.request_diploma_in_advance_comment:focus,
.request_diploma_in_advance_comment:active,
.gown_request_select:focus,
.hat_request_select:focus {
    outline: none;
}

.request_diploma_in_advance_submit_button {
    height: 2.5em;
    max-width: 25%;
    width: 200px;
    border-radius: 5px;
    border: 1px solid darkslategray;
    padding: 0 1em;
    margin-left: 2em;
    cursor: pointer;
    background-color: snow;
    font-weight: bold;
    color: darkslategray;
    font-size: medium;
}

.request_diploma_in_advance_submit_button:hover {
    background-color: #006199;
    color: snow;
}

.request_diploma_in_advance_comment {
    width: 30em;
    height: 5em;
    background-color: snow;
}

.message-bar {
    padding: 10px;
    margin-left: 2em;
    border-radius: 10px;
    font-family: monospace;
}

p {
    font-family: monospace !important;
    font-size: 1.2em;
}

.error {
    background: rgba(255, 20, 20, 0.755);
}

.success {
    background: rgba(128, 214, 132, 0.3);
}

.no-margin {
    margin-left: 0;
}

#no-notifications {
    display: none;
}

table {
    margin-bottom: 2em;
    border-collapse: collapse;
    display: block;
    overflow: auto;
    white-space: nowrap;
    border-radius: 5px;
}

table td {
    border: 0.5px solid slategray;
    padding: 0 0.2em;
}

table tr:nth-child(even) {
    background-color: rgba(47, 79, 79, 0.096)
}

table tr {
    height: 1.7em;
}

#message {
    height: 10em !important;
}

#textarea {
    display: grid;
}

.dashboard-textarea {
    width: 100%;
    height: 5em;
    margin-top: 1em;
    background-color: rgb(235, 238, 241);
    border-color: darkslategray;
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
    font: 1em sans-serif;
}

.dashboard-textarea:focus {
    outline: none;
}

.dashboard-textarea:active {
    outline: none;
}

.submit-button {
    margin-top: 1em;
    height: 2.5em;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #006199;
    cursor: pointer;
    background-color: snow;
    font-weight: bold;
    color: darkslategray;
    font-size: medium;
}

.submit-button:hover {
    background-color: #006199;
    color: snow;
}

#message-bar-export-message {
    margin-left: 0 !important;
}

.received_messages {
    width: 100%;
    height: auto;
    border-radius: 5px;
    text-indent: 0.5em;
    border: 1px solid #006199;
    background: rgba(247, 241, 241, 0.603);
    color: darkslategray;
    font-size: medium;
    margin-bottom: 1em;
}